@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins';
  font-style: normal;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.header {
  max-width: 100%;
  height: 750px;
  background-image: url(../img/head-background.jpg);
  background-size: cover;
}

/* HEADER-NAV */

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
}

.header-nav-list {
  display: flex;
}

.header-nav__item {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  text-transform: uppercase;
  list-style-type: none;
  margin: 22px;
}

.header-nav__item_active {
  display: inline;
  border-bottom: 3px solid #fff;
}

.header-lang {
  display: inline-block;
}

.header-lang__switch {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  margin: 4px;
}

.header-lang__switch_active {
  color: #b7b7b7;
}

/* HEADER-CONTENT */

.header-content {
}

.header-title {
  margin-top: 120px;
  color: #fff;
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  text-transform: uppercase;
}

.header-button {
  color: #fff;
  background-color: #db2512;
  width: 198px;
  height: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin-top: 53px;
  margin-bottom: 204px;
}

/* HEADER-ABOUT */

.header-about {
  display: flex;
  justify-content: space-between;
}

.header-about-block {
  width: fit-content;
  background-color: #fff;
  padding: 39px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  margin-right: 22px;
}

.header-about-block:last-child {
  margin-right: 0px;
}

.header-about-block__icon {
  margin-bottom: 21px;
}

.header-about-block__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.header-about-block__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #b7b7b7;
}

/* SERVICE */

.service {
  margin-top: 194px;
  margin-bottom: 98px;
}

.service__title {
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.service__subtitle {
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration-line: underline;
}

.service-items {
  display: flex;
  justify-content: space-between;
}

.service-item__title {
  margin-top: 21px;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.23em;
  text-transform: uppercase;
  color: #000000;
}

/* ABOUT */

.about {
  background: #171616;
  color: #fff;
}

.about-wrapper {
  padding: 117px 0px 116px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-content {
  padding-right: 182px;
}

.about-content__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.about-content__text {
  margin-top: 42px;
  margin-bottom: 48px;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.23em;
  color: #b7b7b7;
}

.about-content__link {
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #fff;
}

.about-img {
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* WORK-PROCESS */

.work-process {
  padding: 99px 0 99px 0;
}

.work-process__title {
  text-align: center;
  font-weight: 900;
  font-size: 148px;
  line-height: 150%;
  text-transform: uppercase;
  color: #000000;
}

.work-process__subtitle {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000000;
  margin-top: 58px;
}

.process-items {
  display: flex;
  justify-content: space-between;
  margin-top: 92px;
}

.process-item {
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 30px;
  margin-right: 20px;
}

.process-item:last-child {
  margin: 0;
}

.process-item__title {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000000;
}

.process-item__text {
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #b7b7b7;
}

/* CONTACTS */

.contacts {
  background-color: #171616;
  color: #fff;
  padding: 97px 0;
}

.contact-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding-bottom: 45px;
}

.contact-inputs {
  display: grid;
  grid-template-columns: repeat(2, 197px);
  gap: 45px;
  color: #fff;
}

.contact-input__message {
  padding-bottom: 100px;
  color: #fff;
  overflow: hidden;
  resize: none;
  grid-column: 1/-1;
}

.contact-input {
  height: 33px;
  background: none;
  border: 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  outline: none;
}

.contact-input,
.contact-input__message {
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.15em;
}

.button-input {
  height: 50px;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  background-color: #db2512;
  border: none;
}

/* FOOTER */
.footer {
  height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-socials {
  height: 30px;
}

.footer-socials img {
  width: 30px;
  padding-left: 20px;
}

.footer-socials img:firs-child {
  padding: 0;
}
